<!-- <script>
	$(function(){
		$('#mobile-menu').slicknav({
            label: '',
            duplicate: false,
            appendTo: '#mmenu__anchor'
        });
	});
</script> -->
<div class="header">
    <div class="header__container">
        <header>
            <div class="header__logo"><a href="/">eventlist</a></div>
            <div class="header__links" id="headerlinks">
                <ul id="desktop-menu">
                    <li><a href="/allevents">Browse All Events</a></li>
                    <!-- <li><a href="/events/new">Create Event</a></li> -->
                    <!-- {{#if isLoggedIn}} -->
                    <!-- <li><a href="/myaccount">My Account</a></li> -->
                    <!-- <li><a href="/logout">Sign Out</a></li> -->
                    <!-- {{else}} -->
                    <!-- <li><a href="/login">Sign In</a></li> -->
                    <!-- {{/if}} -->
                </ul>
            </div>
            <!-- <div id="mmenu" class="mmenu__container">
                <span id="mmenu__anchor"></span>
                <ul id="mobile-menu" class="mmenu__list">
                    <li><a href="/events/browse">Browse Events</a></li>
                    <li><a href="/events/new">Create Event</a></li>
                    {{#if isLoggedIn}}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/logout">Sign Out</a></li>
                    {{else}}
                    <li><a href="/login">Sign In</a></li>
                    {{/if}}
                </ul>
            </div>             -->
        </header>
    </div>
</div>